.breaking-news {
  &-wrapper {
    background-color: var(--bg-dark);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    min-width: 320px;
    width: 100%;
    height: 250px;
    overflow: hidden;
    text-decoration: none;
  }

  &-tag {
    background-color: var(--bg-secondary);
    width: 75px;
    height: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 1px;

    &-name {
      font-weight: 900;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 8px;
    padding: 0 20px;

    .title {
      text-align: center;
      font-weight: 900;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .author {
      font-weight: 500;
    }
  }
}
