.main {
  width: 100%;
}

.title {
  padding-bottom: 16px;
}

.top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
  column-gap: 22px;
}

.bottom-section {
  padding-top: 22px;
}

.mobile {
  display: none;
}

@media screen and (width <= 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: grid;
  }

  .title {
    text-align: center;
  }
}
